<% include partials/head %>

<body class="body-wrapper changeHeader">
  <div class="main-wrapper">

    <% include partials/homeHeader %>

    <!-- BANNER -->
    <section class="bannercontainer">
      <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
          <ul>
            <li data-transition="parallaxvertical" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
              <img src="img/home/slider/slider-06.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption container">
                <div class="tp-caption rs-caption-1 sft start"
                  data-hoffset="0"
                  data-y="270"
                  data-speed="800"
                  data-start="1000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300">
                  Find Your 
                  <span>American Dream</span>
                </div>
                <div class="tp-caption rs-caption-2 sft"
                  data-hoffset="0"
                  data-y="400"
                  data-speed="1000"
                  data-start="1500"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex consequat.
                </div>
                <div class="tp-caption rs-caption-3 sft"
                  data-hoffset="0"
                  data-y="485"
                  data-speed="800"
                  data-start="2000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  <span class="page-scroll"><a target="_blank" href="#search" class="btn buttonCustomPrimary">Search Now</a></span>
                </div>
              </div>
            </li>
            <li data-transition="parallaxvertical" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
              <img src="img/home/slider/slider-07.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption container">
                <div class="tp-caption rs-caption-1 sft start text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="270"
                  data-speed="800"
                  data-start="1000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300">
                  Crossing The Limits With
                  <span>Star Travel</span>
                </div>
                <div class="tp-caption rs-caption-2 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="400"
                  data-speed="1000"
                  data-start="1500"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  Maecenas nec sodales justo. Vivamus auctor pulvinar mattis. Ut at elementum nunc. Quisque condimentum ligula ante, non luctus enim pulvinar sed. Fusce quis congue odio.
                </div>
                <div class="tp-caption rs-caption-3 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="485"
                  data-speed="800"
                  data-start="2000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  <span class="page-scroll"><a target="_blank" href="" class="btn buttonCustomPrimary">Read More</a></span>
                </div>
              </div>
            </li>
            <li data-transition="parallaxvertical" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
              <img src="img/home/slider/slider-08.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption container">
                <div class="tp-caption rs-caption-1 sft start"
                  data-hoffset="0"
                  data-y="270"
                  data-speed="800"
                  data-start="1000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300">
                  Enjoy Ultimate Freedom
                   <span>Your Next Adventure Awaits</span>
                </div>
                <div class="tp-caption rs-caption-2 sft"
                  data-hoffset="0"
                  data-y="400"
                  data-speed="1000"
                  data-start="1500"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">

                </div>
                <div class="tp-caption rs-caption-3 sft"
                  data-hoffset="0"
                  data-y="485"
                  data-speed="800"
                  data-start="2000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  <span class="page-scroll"><a target="_blank" href="" class="btn buttonCustomPrimary">Search Now</a></span>
                </div>
              </div>
            </li>
            <li data-transition="parallaxvertical" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
              <img src="img/home/slider/slider-09.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption container">
                <div class="tp-caption rs-caption-1 sft start text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="270"
                  data-speed="800"
                  data-start="1000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300">
                  Go Where You Wanna Go
                   <span>Search Now</span>              
                </div>
                <div class="tp-caption rs-caption-2 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="400"
                  data-speed="1000"
                  data-start="1500"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  Maecenas et leo nec nunc rutrum tempor. Mauris pharetra porttitor odio eget convallis. Praesent facilisis mattis pretium. Aliquam sagittis efficitur risus, interdum euismod urna. Pellentesque vel augue augue.
                </div>
                <div class="tp-caption rs-caption-3 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="485"
                  data-speed="800"
                  data-start="2000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  <span class="page-scroll"><a target="_blank" href="" class="btn buttonCustomPrimary">Search</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- SEARCH TOUR -->
    <section class="darkSection">
      <div class="container">
        <div class="row gridResize">
          <div class="col-sm-3 col-xs-12">
            <div class="sectionTitleDouble">
              <p>Search For</p>
              <h2>Your <span>Holiday</span></h2>
            </div>
          </div>
          <div class="col-sm-7 col-xs-12">
            <div class="row">
              <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                  <select name="guiest_id2" id="guiest_id2" class="select-drop">
                    <option value="0">Departure Airport</option>
                    <option value="1">Belfast</option>
                    <option value="2">Dublin</option>
                    <option value="3">London</option>
                    <option value="3">Etc Etc</option>
                  </select>
                </div>
              </div>
             <div class="col-sm-3 col-xs-12">
              <div class="searchTour">
                <select name="guiest_id3" id="guiest_id3" class="select-drop" >
                  <option value="0">Destination</option>
                  <option value="1">Portugal</option>
                  <option value="2">New York</option>
                  <option value="3">Ibiza</option>
                  <option value="4">Majorca</option>
                  <option value="5">Dubai</option>
                  <option value="6">Bulgaria</option>
                   <option value="6">Etc Etc...</option>
                </select>
              </div>
            </div>
              <div class="col-sm-3 col-xs-12">
                <div class="input-group date ed-datepicker" data-provide="datepicker">
                  <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                  <div class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="input-group date ed-datepicker" data-provide="datepicker">
                  <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                  <div class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop" >
                    <option value="0">Adults</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6">7</option>
                    <option value="6">8+</option>
                  </select>
                </div>
              </div>
               <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop" >
                    <option value="0">Children</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6">7</option>
                    <option value="6">8+</option>
                  </select>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
                <div class="searchTour">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop" >
                    <option value="0">Rooms</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <a href="packages-grid-left-sidebar.html" class="btn btn-block buttonCustomPrimary">Search</a>
          </div>
        </div>
      </div>
    </section>

    <!-- DESTINATIONS -->
    <section class="whiteSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle">
              <h2><span>Need Inspiration?/span></h2>
              <p>Choose from the destinations below and feel inspired</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="media destinations">
              <a class="media-left" href="destination-cities.html">
                <img class="media-object" src="img/home/destination.jpg" alt="Destination">
              </a>
              <div class="media-body">
                <h3 class="media-heading">Choose <br>A Destination</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="clearfix">
                  <ul class="list-unstyled">
                    <li><i class="fa fa-minus" aria-hidden="true"></i>Asia</li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Toyko</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Shanghai</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Bangkok</a></li>
                  </ul>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-minus" aria-hidden="true"></i>Europe</li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Madrid</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Paris</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>London</a></li>
                  </ul>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-minus" aria-hidden="true"></i>America</li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>New York</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Los Angeles</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Miami</a></li>
                  </ul>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-minus" aria-hidden="true"></i>Africa</li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Cape Town</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Durban</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Johannesberg</a></li>
                  </ul>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-minus" aria-hidden="true"></i>Australia</li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Syndey</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Melbourne</a></li>
                    <li><a href="destination-single-city.html"><i class="fa fa-square" aria-hidden="true"></i>Adelaide</a></li>
                  </ul>
                </div>
                <div class="media-btn">
                  <a href="destination-cities.html" class="btn buttonTransparent">View All</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- INQUIRY MODAL -->
    <div class="modal fade bookingModal modalBook" id="inquiryModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Inquiry About Tour</h4>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="form-group">
                <input type="text" class="form-control" id="yourName" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="yourEmail" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="btn buttonCustomPrimary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<% include partials/footer %>


