<% include partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>All the Camps!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores cum delectus eos odit dolore?</p>
            <p>
                <a class="btn btn-primary btm-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
       </div>
    </header>
    <h3 class="text-center">Our Camp Sites</h3>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <img src="<%= campground.image %>">
                </div>
            </div>
        <% }); %>
    </div>
</div>
<a href="/">Back To Home Page</a>
<% include partials/footer %>