<h1>LOG IN PAGE</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>

<ul>
    <li><a href="/register">Sing Up</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/logout">Log out</a></li>
</ul>